.card {
  width: 250px;
  height: 249px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  /* width: 100%; */
  height: 249px;
  font-size: 1rem;
  color: #080505;
  background-color: #c7d8df;
  border-radius: 10px;
  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

/* delete button */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 15px;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: #ff0000;
}

.bin-button:active {
  transform: scale(0.9);
}

.deleteBtn:hover {
  background-color: #ff0000;
}

.saveBtn:hover {
  background-color: green;
}

/* card input  */
.editInput {
  width: 7.2rem;
  height: 2rem !important;
}

.editDesInput {
  width: 13rem;
}

.editInput .editDesInput::placeholder {
  font-size: 1.5rem !important;
}